@import "tailwindcss";

@theme {
  --font-outfit: var(--font-outfit);
  --font-jakarta: var(--font-jakarta);
  --color-background: #050505;
  --color-foreground: #fafafa;
  --color-primary: #3b82f6;
  --color-primary-accent: #94a3b8;
  --color-secondary: #8b5cf6;
  --color-accent: #f43f5e;
}

@layer base {
  :root {
    --background: #050505;
    --foreground: #fafafa;
  }

  html,
  body {
    @apply bg-transparent text-[var(--foreground)] m-0 p-0 overflow-x-hidden;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
  }

  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl;
  }
}